body{
  background-color: #44c3e6;
}

.center{
  width: 600px;
  height: 400px;
  background: #fff;
  margin: auto;
}

.title{
  color: #44c3e6;
  text-align: center;
}

.input{
  display: block;
  width: 90%;
  height: 40px;
  margin: 30px auto ;
}

.button {
  width: 100px;
  height: 50px;
  background-color: #44c3e6;
  border: 0;
  color: white;
  display: block;
  margin: auto;
}